body {
  font-family: 'IBM Plex Sans', sans-serif;
}


.error-title {
  font-size: 25px;
  font-weight: 700;
  color: crimson;
  text-align: center;
  margin-bottom: 5px;
}
.error-subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  text-align: center;
  margin-top: 0px;
}
.full-page-alert {
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  background-color: #eeeeee;
  border: solid black;
  padding: 15px;
}
#popup-blocked-alert {
  display: none;
}