body {
  font-family: 'IBM Plex Sans', sans-serif;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  -o-user-select: none;
}


.error-title {
  font-size: 25px;
  font-weight: 700;
  color: crimson;
  text-align: center;
  margin-bottom: 5px;
}
.error-subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  text-align: center;
  margin-top: 0px;
}
.error-tinytitle {
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  text-align: center;
  margin-top: 0px;
  cursor: pointer;
}
.full-page-alert {
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  background-color: #eeeeee;
  border: solid black;
  padding: 15px;
}
#full-page-alert {
  display: none;
}
table {
  width: 100%;
}
#header-table th {
  font-size: 25px;
}
#header-table td, #header-table th, #game-table td, #buttons-table td, #missing-vowels-table td {
  border-collapse: collapse;
  border: solid black 2px;
}
.hieroglyph-button {
  background-color: #e9e9e9;
  color: black;
  text-align: center;
  vertical-align: top;
  font-size: 46px;
  width: 16.6%;
  display: table-cell;
  padding: 0px;
}
.active-hieroglyph-button {
  background-color: rgb(255, 255, 122);
}
.disabled-hieroglyph-button {
  background-color: #666666;
}
.hieroglyph-button:not(.active-hieroglyph-button):not(.disabled-hieroglyph-button) {
  cursor: pointer;
}
.hieroglyph-button:not(.active-hieroglyph-button):not(.disabled-hieroglyph-button):hover {
  filter: brightness(70%);
}
.hieroglyph-button:not(.active-hieroglyph-button):not(.disabled-hieroglyph-button):active {
  filter: brightness(30%);
}
#game-table {
  display: none;
}
#game-table td {
  padding: 3px;
  width: 50%;
}
.game-clue-cell {
  height: 90px;
  background: #bbbbbb;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
}
.game-clue-cell-revealed {
  background: linear-gradient(0deg, rgb(61, 96, 141) 0%, rgb(75, 142, 197) 100%);
  color: white;
}
.game-clue-cell-revealed.game-clue-cell-image:not(.game-clue-cell-note) {
  color: black;
  font-size: 29px;
  text-shadow: 0px 0px 6px white;
}
.game-clue-cell-image {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/28/InternetSlowdown_Day.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.game-clue-cell-note {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: none;
  font-size: 20px;
}
.game-clue-cell:not(.game-clue-cell-revealed) {
  cursor: pointer;
}
.game-clue-cell:not(.game-clue-cell-revealed):hover {
  filter: brightness(70%);
}
.game-clue-cell:not(.game-clue-cell-revealed):active {
  filter: brightness(30%);
}
#game-connection-cell {
  background: #eeeeee;
  font-size: 18px;
  font-weight: 700;
}
.connection-revealed {
  background: #b8ffa6 !important;
}

#missing-vowels-table {
  display: none;
}
#missing-vowels-table td {
  padding: 3px;
  width: 50%;
}
#missing-vowels-category-cell {
  background-color: #ffc1c1;
  font-size: 18px;
}
#missing-vowels-question-cell {
  background-color: #fbffc1;
  font-size: 18px;
}
#missing-vowels-answer-cell {
  background-color: #b8ffa6;
  font-size: 18px;
  font-weight: 700;
}

#buttons-table th {
  border-collapse: collapse;
  font-weight: 700;
  width: 50%;
  text-align: center;
}
.control-button {
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  font-weight: 500;
}
.attempt-solve-button.control-button-active {
  background: #a8d3ff;
}
.correct-button.control-button-active {
  background: #a0ff93;
}
.incorrect-button.control-button-active {
  background: #ffa6a6;
}
.game-flow-button.control-button-active {
  background: #f9ffa6;
}
.control-button:not(.control-button-active) {
  background: #dddddd;
  font-weight: 500;
  color: #aaaaaa;
}
.control-button-active {
  cursor: pointer;
}
.control-button-active:hover {
  filter: brightness(70%);
}
.control-button-active:active {
  filter: brightness(30%);
}
.team-cell-active {
  color: red;
}
.team-name-cell:hover, .team-points-cell:hover {
  background-color: #e9e9e9;
}
.team-name-cell:active, .team-points-cell:active {
  background-color: #acacac;
}