body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: linear-gradient(22deg, rgba(53,82,140,1) 0%, rgba(227,237,239,1) 100%);
  background-attachment: fixed;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  -o-user-select: none;
}
#hieroglyphs-selection {
  position: absolute;
  top: 14vh;
  left: 0px;
  width: 100%;
  display: none;
}
#hieroglyphs-selection table {
  margin: 0 auto;
  width: 55%;
  border-spacing: 12px;
}
@media only screen and (max-width: 1250px) {
  #hieroglyphs-selection table {
    width: 95%;
    border-spacing: 5px;
  }
}
.hieroglyph-box {
  border-collapse: collapse;
  text-align: center;
  color: white;
  font-size: 110px;
  width: 33%;
  font-weight: 500;
  padding: 0px;
  line-height: 80px;
  height: 120px;
  border-radius: 8px;
}
.hieroglyph-box:not(.hieroglyph-selected):not(.hieroglyph-complete) {
  background: linear-gradient(0deg, rgba(16,20,70,1) 0%, rgba(33,60,115,1) 100%);
  border: solid gray 2px;
}
.hieroglyph-box.hieroglyph-selected {
  /*background: linear-gradient(160deg, rgba(62,183,184,1) 0%, rgba(41,134,135,1) 50%, rgba(62,183,184,1) 100%);*/
  animation-name: hieroglyph-selected-pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border: solid #31a7a8 2px;
}
@keyframes hieroglyph-selected-pulse {
  0% {
    background: #3eb7b8;
  }
  50% {
    background: #288081;
  }
  100% {
    background: #3eb7b8;
  }
}
.hieroglyph-box.hieroglyph-complete {
  background: linear-gradient(160deg, rgba(210,242,255,1) 0%, rgba(170,192,224,1) 100%);
  border: solid #abbad1 2px;
  color: #aaaaaa;
  opacity: 0;
}
.hieroglyph-box > p {
  margin: 0px;
}
#hieroglyph-two-reeds {
  font-size: 85px;
  font-weight: 700;
}
#hieroglyph-lion {
  position: relative;
  top: -54px;
  font-size: 175px;
}
#hieroglyph-twisted-flax {
  font-weight: 700;
  font-size: 90px;
}
#hieroglyph-horned-viper {
  font-size: 160px;
  position: relative;
  top: -50px;
}
#hieroglyph-water {
  font-weight: 700;
  font-size: 85px;
}
#hieroglyph-eye {
  font-size: 120px;
  position: relative;
  top: -16px;
}
#clue-boxes {
  display: none;
}
#clue-boxes table {
  margin: 0 auto;
  width: 90%;
  margin-top: 5%;
  border-spacing: 12px;
}
.clue-box {
  border-collapse: collapse;
  text-align: center;
  font-size: 35px;
  width: 25%;
  font-weight: 500;
  padding: 3px 10px;
  line-height: 35px;
  height: 150px;
  border-radius: 8px;
  transition: opacity 0.2s linear;
  position: relative;
}
.clue-box:not(.clue-box-revealed) {
  opacity: 0;
}
.clue-box-revealed {
  background: linear-gradient(160deg, rgba(210,242,255,1) 0%, rgba(170,192,224,1) 100%);
  border: solid #abbad1 2px;
  color: #222222;
  opacity: 1;
}
.clue-box-image {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/28/InternetSlowdown_Day.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#clue-box-question-mark {
  font-size: 140px;
  position: absolute;
  background: linear-gradient(0deg, rgba(16,20,70,1) 0%, rgba(33,60,115,1) 100%);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  line-height: 140px;
  border-radius: 8px;
  color: white;
}
.clue-box-note {
  color: rgb(21, 61, 87);
}
.clue-box-note-image {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}
.clue-box-connection {
  background: linear-gradient(0deg, #101446 0%, #213c73 100%);
  border: solid #1e3563 2px;
  color: white;
  font-size: 40px;
  text-align: center;
  border-radius: 8px;
  transition: opacity 0.2s linear;
}
.clue-box-timer {
  border-collapse: collapse;
  text-align: center;
  color: white;
  font-size: 25px;
  width: 25%;
  font-weight: 700;
  padding: 2px;
  height: auto;
  border-radius: 8px;
  background: #4482cf;
  border: solid rgba(33,60,115,1);
  position: relative;
  z-index: 100;
  transition: opacity 0.2s linear;
}
.clue-box-timer-bar {
  background-color: rgb(13, 50, 105);
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -10;
  /*transition: width 30s linear 0s;*/
}


#score-table-holder {
  position: absolute;
  bottom: 210px;
  left: 5vw;
  right: 5vw;
}
#score-table-inner {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.score-box {
  background: linear-gradient(0deg, rgba(8,27,60,0.9) 0%, rgba(18,56,121,0.9) 100%);
  background-attachment: fixed;
  color: white;
  border-radius: 25px;
  font-size: 40px;
  height: 80px;
  width: 390px;
  margin: 0px;
  position: absolute;
  padding-left: 2vw;
  padding-right: 2vw;
  line-height: 75px;
}
.score-box-active {
  height: 75px !important;
  width: 385px !important;
  border: solid yellow;
}
#score-team-1 {
  left: 0px;
}
#score-team-2 {
  right: 0px;
}
.score-text-holder {
  position: relative;
  top: 0;
  bottom: 0;
}
#score-team-1-name, #score-team-2-score {
  text-align: left;
  left: 0;
  float: left;
}
#score-team-1-score, #score-team-2-name {
  text-align: right;
  right: 0;
  float: right;
}
.score-text-name {
  color: #aaaaaa;
}
.score-text-score {
  color: white;
  font-weight: 800;
}

#missing-vowels-title {
  background: linear-gradient(0deg, rgba(8,27,60,1) 0%, rgba(18,56,121,1) 100%);
  background-attachment: fixed;
  color: white;
  padding: 2vw;
  border-radius: 25px;
  font-size: 60px;
  text-align: center;
}
#missing-vowels-question {
  background: linear-gradient(0deg, rgba(97,145,209,1) 0%, rgba(181,216,244,1) 100%);
  background-attachment: fixed;
  color: #121212;
  padding: 2vw;
  border-radius: 25px;
  font-size: 60px;
  text-align: center;
}
#missing-vowels-holder {
  position: absolute;
  top: 10%;
  left: 5vw;
  right: 5vw;
  display: none;
}
